{% extends 'base.html' %}

{% block title %}Virgo Words{% endblock %}

{% block content %}
<br><br><br>
<div class="container">

<form id="contactForm" action="#" data-sb-form-api-token="API_TOKEN" method="post">

    <div class="form-floating mb-3">
        <input class="form-control" name="name" type="text" placeholder="Enter your name..." data-sb-validations="required" />
        <label for="name">Full name</label>
        <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
    </div>

    <div class="form-floating mb-3">
        <input class="form-control" name="email" type="email" placeholder="name@example.com" data-sb-validations="required,email" />
        <label for="email">Email address</label>
        <div class="invalid-feedback" data-sb-feedback="email:required">An email is required.</div>
        <div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.</div>
    </div>

    <div class="form-floating mb-3">
        <input class="form-control" name="phone" type="number" min="1000000000" maxlength="10" max="9999999999"  placeholder="(123) 456-7890" required>
        <label for="phone">Phone number</label>
        <div class="invalid-feedback" data-sb-feedback="phone:required">A phone number is required.</div>
    </div>
    
    <div class="form-group">
        <label for="sel1">Topics</label>
        <select class="form-control" name="sel1" name="sellist1">
          <option>Do digital tools make us more or less productive at work?</option>
          <option>Has the media hurt or helped family communication? Friendship communication? Romantic relationships?</option>
          <option>How is online education going to change the way students learn?</option>
          <option>What does it take to become a politician?</option>
        </select>
        <br>
      </div>

    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1" required>
        <label class="form-check-label" for="inlineCheckbox1">By clicking this you accept <a href="/ekarikthin-article/terms/" target="_blank">Terms and Conditions</a> </label>
    </div>
    <br>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>This mobile number is already registered with Username {{messages.name}}</p>
                <a href="/wait/{{msg}}">Click here To Login</a>
                <!-- <p>{{msg}}</p> -->
            {% endfor %}        
        {% endif %}
    {% endwith %}
    <br><br>
    <button class="btn btn-primary float-right" type="submit">Submit</button>
</form>
<br><br>
</div>

{% endblock %}